<!DOCTYPE html>
<html>
<head>
	<title>camlsql | Translate SQL to CAML Query</title>
	<link rel="stylesheet" href="css/app.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!-- Downloaded and saved in /static/css/highlight.css -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link rel="icon" href="/favicon.ico?v=2" />
<!-- Or if you want to use the stylesheet from the CDN -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/agate.min.css">
</head>
<body>

<a href="https://github.com/dlid/camlsql-js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

	<div id="camljs-app" class="camljs-app">
		<div class="ma-header">
			<div class="appwidth">
        <img src="img/logo.png" alt="camlsql-js" height="60"  />
			
			</div> 
		</div>
		<div class="tabs tabs--line">
			<div  class="appwidth">
				<router-link to="/start">Start</router-link>
			    <router-link to="/get-started">Gettin  started</router-link>
			    <router-link to="/examples">Examples</router-link>
			    <router-link to="/live">Try it out</router-link>
			    <router-link to="/download">Download</router-link>
			</div>
		</div>
		<div class="content appwidth">
			<router-view></router-view>
		</div>
	</div>
	<script type="text/x-template" id="LiveTab-template">
		<div>
			<h1>Try it out</h1>
			   
			<div class="live">
					<strong>camlsql statement:<span v-show="liveTimeout">*</span> </strong> 
					<textarea  spellcheck="false" style="width:100%; padding: 8px;    box-sizing: border-box;" auto-resize v-model="liveQuery">m</textarea>
			
						<div class="parameters" v-for="param in parameters">
							<div class="parameters__row" :class="{'parameters__row--invalid' : paramError(param)}">
								<div class="parameters__cell parameters__cell--name">
									<strong>{{param.name}}:</strong>
								</div>
								<div class="parameters__cell parameters__cell--type">
									<select v-model="param.type" @change="triggerRefresh">
										<option>Text</option>
										<option>Number</option>
										<option>Guid</option>
										<option>Lookup</option>
										<option>DateTime</option>
										<option>Date</option>
										<!-- <option>Month</option> -->
										<option>Now</option>
										<option>Now (With time)</option>
										<option>Today</option>
										<option>Multichoice</option>
										<option>In</option>
										<option>UserID</option>
										<option>Membership</option>
									</select>
								</div>
								<div class="parameters__cell parameters__cell--value">
									<input v-show="showParamTextInput(param)" type="text" v-model="param.value" @keydown="triggerRefresh" style="width: 100%; padding:6px;display:block;" />
									<p style="color:red">{{paramError(param)}}</p>



								</div>
							</div>
							
						</div>
					</div>

				<div style="clear:both">
					<button v-clipboard :data-clipboard-text="calculatedScript" style=" margin: 0 4px; float:left;"><img width="16" src="img/clippy.svg" /></button>
					<pre v-highlightjs="calculatedScript"><code  class="javascript"></code></pre>
				</div>

				<div style="clear:both">
				<button v-clipboard :data-clipboard-text="camlRawXml" style=" margin: 0 4px; float:left;"><img width="16" src="img/clippy.svg" /></button>

					<pre v-highlightjs="camlXml"><code class="xml"></code></pre>
				</div>

					
			</div>


			<!-- <p>/live/{{compressedQuery}}</p> -->

			


		</div>
	</script>

	<script type="text/x-template" id="DownloadTab-template">
		<div>
			x
		</div>
	</script>



	<script type="text/x-template" id="GetStartedTab-template">
		<div>
			<h1>Get started Guide</h1>

			<h2>1. Include the script</h2>
			<p>Include <code>camlsql</code> on your page. It has no dependencies for basic use.</p>
			<pre class="prettyprint"><code class="javascript">&lt;script src="https://rawgit.com/dlid/camlsql-js/<%package.version%>/dist/js/camlsql.min.js"&gt;&lt;script&gt;</code></pre> 

			<h2>2. Prepare your query</h2>
			<p>Your camlsql query consists of two components: the SQL query and the parameters. This is argument one and two in the <code>prepare</code> method.</p>
			<pre class="prettyprint"><code class="javascript">var query = camlsql.prepare("SELECT * FROM [List One] WHERE Title = <mark>?</mark>", ['parameter one'])</code></pre>
			<p>Pay attention to the <mark>?</mark> character. That's a macro that represents the your parameters. The first macro will represent parameter one and so on.</p>
			<p>Also note that it's fine to put field names and table names within [ and ] to get a more sql-y feeling. These characters will be removed by the script.</p>

			<h2>3. Preview the XML</h2>
			<p>To preview the CAML Xml, simply fetch it using the .getXml() method.</p>
			<pre class="prettyprint"><code class="javascript">console.log("xml", query.getXml())</code></pre>
			<p>This query will give the following XML (but without line breaks and indent):</p>
			<pre class="prettyprint"><code>&lt;View>
    &lt;Query>
        &lt;Where>
            &lt;Eq>
                &lt;FieldRef Name="Title" />
                &lt;Value Type="Text">parameter one&lt;/Value>
            &lt;/Eq>
        &lt;/Where>
    &lt;/Query>
&lt;/View>
</code></pre>

		<h2>4. Execute the query</h2>
		<p>If you're in a SharePoint environment, camlsql will let you execute the query as well.</p>
		<p>By default the current ClientContext and the current web will be used .</p>
		<pre class="prettyprint"><code class="javascript">query.exec(function(err, rows) {
	if (!err) {
		console.log("result", rows);
	} else {
		console.error("error", err)
	}
})</code></pre>
		<p>Pay attention to the list name that you specified in your query, when you use the <code>exec</code> method that very list name will be used.</p>
		<p>If you choose not to use the <code>exec</code> method but instead execute the created CAML yourself, you can always get the list name using the <code>getListName</code> method.

		<h2>5. Chain it</h2>
		<p>You can chain it together in a single statement as well</p>
		<pre class="prettyprint"><code class="javascript">camlsql.prepare("SELECT * FROM [List One] WHERE Title = ?", ['parameter 1'])
 .exec(function(err, rows) {
   if (!err) {
     console.log("result", rows);
   } else {
     console.error("error", err)
   }
 });</code></pre>

		<h2>6. Then what?</h2>
		
		<p>Still interested? Continue by browsing through the <router-link to="/examples">examples</router-link> or even
			<router-link to="/live">try it out</router-link> right here on this page.</p>

		</div>

	</script>		
	<script type="text/x-template" id="ExamplesTab-template">
		<div> 
			<h1>Examples</h1>

 
      <textarea id="codemirror" name="code">--Testing
SELECT * FROM Something
</textarea>

			<div class="notice notice--info"><p><strong>NOTE!</strong> In many examples I use "<mark>*</mark>" for field selection. It's best practice to just ask for the fields
			you actually need.</p></div>
			<input type="search" class="searchbox" placeholder="Filter examples" />
			
			<p style="font-size: 0.85em">Examples marked with <span style="color:red">red</span> are queries that currently does not work.</p>

			<table class="table" border="1">
				<caption>
					Results
				</caption>
				<thead>
					<tr>
						<th>Name</th>
						<th>CAMLSql statement</th>
						<th>Keywords</th>
						<th>Version</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="example in examples" class="examplerow" :class="{'examplerow--notimplemented' : example.status == 0}">
						<td><router-link :to="{name : 'show-example', params : { id : ('00000' + example.id ).slice(-4) + '-' + urifyString(example.name) }}">{{example.name}}</router-link><!-- <router-link :to="{ name : 'show-example', params : {id : '3131312213'}}">Avtal 1</router-link> --></td> 
						<td>{{ example.customSqlText ? example.customSqlText :  cutDownSql(example.sql)}}</td>
						<td>{{example.keywords}}</td>
						<td>{{example.status == 1 ? example.version : '-'}}
					</tr>
				</tbody>
			</table>
		</div>

	</script>

  <script type="text/x-template" id="ViewExample-template">
    <div>
        <div v-if="example">
        <h1>{{example.name}}</h1>
        <p>{{example.description}}</p>
        <pre class="prettyprint"><code>&lt;script&gt;
camlsql.prepare('{{example.sql}}'{{formatParametersAsString(example.parametersAsString)}})
&lt;/script&gt;</code></pre>
        <pre v-show="example.xml" class="prettyprint"><code>{{formatXml()}}</code></pre>

        <div v-html="example.body ? example.body : ''"></div>
      </div>
    </div>
  </script>

	<script type="text/x-template" id="StartTab-template">
		<div class="searchtab">
			<h1>CAML from SQL

        <!-- Place this tag where you want the button to render. -->
<div style="float:right; margin-left: 8px;" ><a class="github-button" href="https://github.com/dlid" aria-label="Follow @dlid on GitHub">Follow @dlid</a><a  class="github-button" href="https://github.com/dlid/camlsql-js/issues" data-show-count="true" aria-label="Issue dlid/camlsql-js on GitHub">Issue</a> <!-- Place this tag where you want the button to render. -->
</div>
      <a  style="float:right;margin-left: 8px;" href="https://travis-ci.org/dlid/camlsql-js" target="_blank"><img src="https://travis-ci.org/dlid/camlsql-js.svg?branch=master" alt="[Travis CI]" />

      </a><a  style="float:right;margin-left: 8px;" href="https://codecov.io/gh/dlid/camlsql-js">
  <img src="https://codecov.io/gh/dlid/camlsql-js/branch/master/graph/badge.svg" alt="Codecov" />
</a>

      </h1>

		
		<div class="ctabs2">
			<div class="ctabs2__tabs">	
					<router-link to="/start">Using camlsql</router-link>
					<router-link to="/start/other">The other way</router-link>
					<router-link to="/start/about">About</router-link>
          <router-link to="/start/license">License</router-link> 
			</div> 
			<div class="ctabs2__content">
				<div v-show="activeTab == 'start'">

					<p>This is how your life could be when using <code>camlsql</code>. The current ClientContext and its web by default.</p>

					 <pre class='prettyprint'><code>camlsql
 .prepare("SELECT [Title], [ImageURL] FROM [Pages] WHERE [Title] LIKE ? AND ([StartDate] IS NULL OR [StartDate] >= ?)", [
   'News%', 
   camlsql.today() 
 ]) 
 .exec(function(err, rows) {
   if (err) console.error("The query failed", err);
   console.log("ListItems", rows);
 })</code></pre>
				</div>
				<div v-show="activeTab == 'other'">

					<p>Remeber the first tab? This is how it could look if you're not using camlsql...</p>
					<p>Let's look at a function that gets that same data</p>
					
					<pre class="prettyprint"><code>function getTestPages(callback) {

  var viewXml = '&lt;View>' + 
                ' &lt;ViewFields>' + 
                '  &lt;FieldRef Name="Title" />' + 
                '  &lt;FieldRef Name="ImageUrl" />' + 
                ' &lt;/ViewFields>' +
                ' &lt;Query>' + 
                '  &lt;Where>' + 
                '   &lt;And>' + 
                '    &lt;BeginsWith>' + 
                '     &lt;FieldRef Name="Title" />' + 
                '     &lt;Value Type="Text">test&lt;/Value>' +
                '    &lt;/BeginsWith>' + 
                '    &lt;Or>' +
                '     &lt;IsNull>' + 
                '      &lt;FieldRef Name="StartDate" />' + 
                '     &lt;/IsNull>' + 
                '     &lt;Geq>' + 
                '      &lt;FieldRef Name="StartDate" />' + 
                '      &lt;Value Type="DateTime">&lt;Today />&lt;/Value>' + 
                '     &lt;/Geq>' + 
                '    &lt;/Or>' + 
                '   &lt;/And>' + 
                '  &lt;/Where>' + 
                ' &lt;/Query>' + 
                '&lt;/View>',
    clientContext,
    spWeb,
    spList;

  SP.SOD.executeFunc('sp.js', 'SP.ClientContext', function () {

    clientContext = SP.ClientContext.get_current();
    spWeb = clientContext.get_web();
    spList = spWeb.get_lists().getByTitle("Pages");
 
    clientContext.load(spList);
    clientContext.executeQueryAsync(onListLoaded, function () { callback("Error fetching list");});

    function onListLoaded() {
      var camlQuery = new SP.CamlQuery();
      var camlQueryString = viewXml;

      camlQuery.set_viewXml(camlQueryString);
      spListItems = spList.getItems(camlQuery);
      clientContext.load(spListItems);
      clientContext.executeQueryAsync(camlQuerySuccess, function () {
          callback("Error executing caml query");
      });

      function camlQuerySuccess() {
        var listItemEnumerator = spListItems.getEnumerator(),
            items = [],
            spListItem;
        while (listItemEnumerator.moveNext()) {
          spListItem = listItemEnumerator.get_current();
          items.push(spListItem.get_fieldValues());
	    }
	    console.log("Great success", items);
	    callback(null, items);
      }
  }
}

getTestPages(function(err, rows) {
   if (err) console.error("The query failed", err);
   console.log("ListItems", rows);
});

</code></pre>



				</div>	
				<div v-show="activeTab == 'about'">
						<div class="readme">
							<h1>How it started</h1>
							<p>When querying lists using Caml queries there's always the wonderful step of creating the Caml XML.</p>
							<p>With small lists you may fall back to <code>SP.CamlQuery.createAllItemsQuery()</code>, but sometimes
							you have to create those CAML queries after all.</p>
							
							<h2>CAML</h2>
							<p>There are great tools for generating CAML queries. But then you still have to put that XML in your JavaScript.</p>
							<p>Looking at that has always made my eyes bleed a little...</p>
							<p>Before I realized what I was getting myself into I started creating camlsql to be able to use SQL-link queries to retreive list data.</p>
							
							<h2>Features</h2>
							<p>I can admit that before I started this project I had only utilized a small piece of what is possible using CAML Queries.</p>
							<p>camlsql is in no way a complete replacement for generating the CAML Queries and for very complex operations you may still have to rely on creating your own XML.</p>
							<p>But for basic operations, I hope camlsql will make life a little easier for at least someone other than me.</p>

						</div>
				</div>
        <div v-show="activeTab == 'license'">
            <div class="readme">
              <h1>License</h1>
              <pre>MIT License

Copyright (c) 2017 David Lidström

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

A link to this copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</pre>
            </div>
        </div>
			</div> 
		</div>
 

			<!-- <pre class='prettyprint'><code>camlsql.prepare("SELECT Title, ImageURL FROM [Pages] WHERE [Title] LIKE ?", ['%News%']).getXml()</code></pre>
			<pre class="prettyprint">&lt;View&gt;
    &lt;ViewFields&gt;
        &lt;FieldRef Name="Title"/&gt;
        &lt;FieldRef Name="ImageURL"/&gt;
    &lt;/ViewFields&gt;
    &lt;Query&gt;
        &lt;Where&gt;
            &lt;Contains&gt;
                &lt;FieldRef Name="Title"/&gt;
                &lt;Value Type="Text"&gt;
                    &lt;Value Type="Text"&gt;News&lt;/Value&gt;
                &lt;/Value&gt;
            &lt;/Contains&gt;
        &lt;/Where&gt;
    &lt;/Query&gt;
&lt;/View&gt;</pre>
		
			<hr /> -->
			<div style="clear: both">
			<p><strong>Note</strong> that camlsql is created with SP List queries in mind. Take a look at the <a href="https://github.com/dlid/camlsql-js/wiki/QuerySchema">QuerySchema page</a> in the Wiki to see what can and can not yet be done.</p>
</div>
		</div>

	</script>


	<script type="text/x-template" id="VisaAvtal-template">
		<div>
		<div>
			<span v-for="x in breadcrumbs">
				<router-link :to="x.route">{{x.title}}</router-link>  /
			</span> 
			
		</div>
		<h1>Visa avtal {{$route.params.id}}x</h1>
		
		</div>
	</script>


    	<script src="js/camlsql.js"></script>
		<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	<script src="js/app.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<footer style="margin-top: 30px; min-height: 160px; background-color: #f2f2f2">
</footer>